<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>ASQ - MMNIT's Q&A Forum</title>{% endblock %}
  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="ask about mnnit ">
  <meta name="author" content="no one">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
{% if user.is_authenticated %}
   <script>
        alert("you are already logged in!!");
        window.location="/u/";
      </script>
{% endif %}

<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<link href="{% static 'css/login.css' %}"  rel="stylesheet">
<link href="{% static 'vendor/bootstrap-social.css' %}"  rel="stylesheet">
</head>

<body>

  {% if user.is_authenticated %}
    <script>alert("you are already logged in!!");window.location="/q/"</script>
  {% endif %}

 {% if next %}
    {% if user.is_authenticated %}
      <p>Your account doesn't have access to this page. To proceed,
      please login with an account that has access.</p>
    {% else %}
      <p>Please login to see this page.</p>
    {% endif %}
  {% endif %}

<div class="container">


  <div class="omb_login">
    <h3 class="omb_authTitle">Login</h3>
    <div class="row omb_row-sm-offset-3 omb_socialButtons">
    
      <div class="col-xs-4 col-sm-3">
        <a href="{% url 'social:begin' 'github' %}" class="btn btn-lg btn-block btn-social btn-github ">
          <i class="fab fa-github"></i>
          <span class="hidden-xs">Sign in with Github</span>
        </a>
      </div>
      <div class="col-xs-4 col-sm-3">
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-lg btn-block btn-social btn-google">
          <i class="fab fa-google-plus-g"></i>
          <span class="hidden-xs">Sign in with Google</span>
        </a>
      </div>

    </div>

    <div class="row omb_row-sm-offset-3 omb_loginOr">
      <div class="col-xs-12 col-sm-6">
        <hr class="omb_hrOr">
        <span class="omb_spanOr">or</span>
      </div>
    </div>

    <div class="row omb_row-sm-offset-3">
      <div class="col-xs-12 col-sm-6">
        <form class="omb_loginForm" action="{% url 'login' %}" autocomplete="off" method="POST">
          {% csrf_token %}

          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user"></i></span>
            <input type="text" class="form-control" id="id_username" name="username" placeholder="Username">
          </div>
          <br>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" id="id_password" name="password" placeholder="Password">
          </div>
          {% if form.errors %}
          <span class="help-block">username and password didn't match</span>
          {% endif %}
         <br>
          <button class="btn btn-lg btn-primary btn-block" type="submit" value="login" >Login</button>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>
        <br>
        <p style="text-align:center">or <a href="/accounts/signup/">register here</a></p>
      </div>
    </div>
    
  </div>


</body>

