{% extends "base_generic.html" %}

{% block content %}
<!-- {% if user.is_authenticated %}
    <a href="{% url 'asq_app:ask' %}">Add Question</a>
{% else %}
    <a href="{% url 'asq_app:ask' %}">Add Question</a>
{% endif %} -->
{% if user.is_authenticated %}
<a href="{% url 'asq_app:ask' %}">Add Question</a>
{% else %}
<a href="/accounts/login">Add Question</a>
{% endif %}

{% if latest_question_list %}
<ul>
    {% for question in latest_question_list %}
    <li><a href="{% url 'asq_app:question_detail' question.slug %}">{{ question.title }}</a></li>
    {% endfor %}
</ul>
{% else %}
<p>No Questions are available.</p>
{% endif %}

{% endblock %}