{% extends "base_generic.html" %}

{% block content %}

<script type="text/javascript">
    $(document).ready(function () {
       top_tag();
       top_question();
    });
</script>



{% load static %}
<script src="{% static 'vendor/jqcloud.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/jqcloud.min.css' %}">

{% if latest_question_list %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <h4 class="my-4" style="float:left">Latest Questions</h4 >
                        {% if user.is_authenticated %}
                            <button type="button" style="float:right;margin-top: 24px;" class="btn btn-primary active" onclick="changePage()">Add Question</button>
                        {% else %}
                            <button type="button" style="float:right;margin-top: 24px;cursor: not-allowed;" class="btn btn-primary disabled" >Add Question</button>
                        {% endif %}
                    </div>
                </div>
                {% for question in latest_question_list %}
                <div class="card mb-4">
                    <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'asq_app:question_detail' question.id question.slug %}">{{ question.title }}</a></h5>
                        <!-- <br> -->
                        modified on {{ question.created_on | date}}
                        <i class="fas fa-user"></i> by <a href="/u/{{ question.author_id }}">{{ question.author.username }}</a>
                        <i class="fas fa-pen-alt"></i> {{ question.answers.all.count }} answers
                    </div>
                </div>
                {% endfor %}

            </div>
            <!-- @@ col-md-8 div end @@ -->

            <div class="col-md-4 col-sm-12">
            
                <!-- Search Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Tag Search</h5>
                    <div class="card-body">
                        <div class="input-group">
                            <input type="text" id="tag" onkeyup="tag_fliter();" class="form-control" placeholder="Search by tags...">
                            <span class="input-group-btn">
                                <button class="btn btn-secondary" onclick="tag_fliter()" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                    <div class="card-footer text-muted" id="tag_fliter_content"></div>
                </div>
            
                <!-- Categories Widget -->
                <div class="card my-4">
                    <h5 class="card-header">Top Tags</h5>
                    <div class="card-body">
                        <div id="tagcloud">
                            
                        </div>
                       
                    </div>
                </div>

                <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Top Question</h5>
                <div class="card-body" id ="top_question_content" >
                    You can put anything you want insidex of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>
            
            </div>
            <!-- @@ col-md-4 div end @@ -->
        </div>
        <!-- @@ row div end @@ -->
    </div>
    <!-- @@ container div end @@ -->
{% else %}
<p>No Questions are available.</p>
{% endif %}

<script>
    function tag_fliter(){
   // alert("okk"+$("#tag").val());
     var tag= $("#tag").val();
     if(tag.length == 0){
      $("#tag_fliter_content").html("");
         return;
     }
    $.ajax({
        url: '/q/tag_route/',
        data: {
          'tag':tag
        },
        dataType: 'json',
        success: function (data) {
            console.log(data);
            if(data.question.length == 0){
                txt="No Question Found";
            }
          else if (data){
            txt="";
            for(var i=0;i<Math.min(10,(data.question).length);i++)
                txt+="<a href="+data.question_id[i]+"/"+data.question[i]+">"+data.question_title[i]+"</a><br>";
          
            $("#tag_fliter_content").html("<p>"+txt+"</p>");
          } 
       
   }
      });
    }

     function top_question() {
    $.ajax({
        url: '/q/top_question/',
        data: {
        },
        dataType: 'json',
        success: function (data) {
                 if(data.questions.length == 0){
               txt="No Question Found";
          }
          else if (data){
          
            txt="";
            //alert({{pathname}});
            for(var i=0;i<Math.min(10,(data.questions).length);i++)
            {
                // txt += "<a onclick='"window.location = "+" / q / "+data.question_id[i]+" / "+data.question[i]+"'"+">"+data.question_title[i]+"</a><br>";
                txt+="<a href='/q/"+data.questions[i].id +'/'+data.questions[i].slug+"'>"+data.questions[i].title+"</a><br>";
            }
            $("#top_question_content").html("<p>"+txt+"</p>");
           
       }
       }
      });
}
    
    function top_tag() {
    $.ajax({
        url: '/q/top_tag/',
        data: {
        },
        dataType: 'json',
        success: function (data) {
            if(data){
               // console.log(data);
                 let words = []; 
             for(var i=0;i<data.tags.length;i++)
                words.push({text:data.tags[i].tag,weight:40-3*i,link:"/u"});
            //     txt+='<li><a data-weight="40" style="font-size: 29.64ex" >'+data.tags[i].tag+'</a></li>';
            // txt+="</ul>";
            // $("#tags").html(txt);
            $('#tagcloud').jQCloud(words, {
                width: 400,
                height: 400,
                center: {x:0.4,y:0.4},
                delay: 40,
                shape: 'rectangular'
            });


            
            
           
       }
       }
      });
}
    


    function changePage(){
        window.location="/q/ask/";
    }

</script>


{% endblock %}