{% extends "base_generic.html" %}

{% block content %}
<!-- {% if user.is_authenticated %}
    <a href="{% url 'asq_app:ask' %}">Add Question</a>
{% else %}
    <a href="{% url 'asq_app:ask' %}">Add Question</a>
{% endif %} -->
<!-- <form action="/search" method="get">
    <input name="q" type="text" />
    <input type="submit" />
</form> -->
{% load static %}
<script src="{% static 'vendor/jquery.tagcanvas.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
       top_tag();
    });
</script>


<div id="myCanvasContainer">
    <canvas width="400" height="700" id="myCanvas">
        <p>Anything in here will be replaced on browsers that support the canvas element</p>
    </canvas>
</div>
<div id="tags" >
</div>



{% if latest_question_list %}
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    <div class="col-md-6"><h4 class="my-4">Latest Questions</h4 ></div>
                    <div class="col-md-6">
                        {% if user.is_authenticated %}
                            <button type="button" class="btn btn-primary active" onclick="changePage()">Add Question</button>
                        {% else %}
                            <button type="button" class="btn btn-primary disabled">Add Question</button>
                        {% endif %}
                    </div>
                </div>
                {% for question in latest_question_list %}
                <div class="card mb-4">
                    <!-- <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap"> -->
                    <div class="card-body">
                        <h5 class="card-title"><a href="{% url 'asq_app:question_detail' question.id question.slug %}">{{ question.title }}</a></h5>
                        <!-- <br> -->
                        modified on {{ question.created_on }}
                        <span class="glyphicon glyphicon-user"></span> by {{ question.author.username }}
                        <span class="glyphicon glyphicon-pen"></span> {{ question.answers.all.count }} answers
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% else %}
<p>No Questions are available.</p>
{% endif %}

<input id="tag" type="text" placeholder="enter tag" />
<button onclick="tag_fliter()" >submit</button>
<div id="tag_fliter_content"></div>


<script>
    function tag_fliter(){
    alert("okk"+$("#tag").val());
     var tag= $("#tag").val();
    $.ajax({
        url: '/q/tag_route/',
        data: {
          'tag':tag
        },
        dataType: 'json',
        success: function (data) {
            if(data.question.length == 0){
                txt="No Question Found";
            }
          else if (data){
            txt="";
            for(var i=0;i<(data.question).length;i++)
                txt+="<a href="+data.question_id[i]+"/"+data.question[i]+">"+data.question_title[i]+"</a><br>";
          
            $("#tag_fliter_content").html("<p>"+txt+"</p>");
          } 
       
   }
      });
    }
    
    function top_tag(){
    $.ajax({
        url: '/q/top_tag/',
        data: {
        },
        dataType: 'json',
        success: function (data) {
            if(data){
                  txt="<ul>"     ; 
            for(var i=0;i<data.tags.length;i++)
                txt+='<li><a data-weight="40" style="font-size: 29.64ex" >'+data.tags[i].tag+'</a></li>';
            txt+="</ul>";
            $("#tags").html(txt);
             if (!$('#myCanvas').tagcanvas({
            textColour: '#ff0000',
            outlineColour: '#ff00ff',
            reverse: true,
            depth: 0.8,
            maxSpeed: 0.3,
            weight: true,
            weightedMode: 'both',
            weightSize: 0.6,
        }, 'tags')) {
            // something went wrong, hide the canvas container
            $('#myCanvasContainer').hide();
        }
           
       }
       }
      });
    }
    


    function changePage(){
        window.location="/q/ask/";
    }
</script>


{% endblock %}