{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<!-- for top tags canvas animation -->
<script src="{% static 'vendor/jquery.tagcanvas.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function () {
        if (!$('#myCanvas').tagcanvas({
            textColour: '#ff0000',
            outlineColour: '#ff0000',
            reverse: true,
            depth: 0.8,
            maxSpeed: 0.05,
            weight: true,
            weightedMode: 'both',
            weightSize: 0.6,
        }, 'tags')) {
            // something went wrong, hide the canvas container
            $('#myCanvasContainer').hide();
        }
    });
</script>


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">    



<!-- for froala wysiwig editor -->
{% for file_name in froala_plugins_css %}
<link href="{% static file_name %}" type="text/css" media="all" rel="stylesheet" />
{% endfor %}

{% for file_name in froala_plugins_js %}
<script src="{% static file_name %}"></script>

{% endfor %}


<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{ qdata.title }}</h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="#">{{ qdata.author }}</a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Posted on {{ qdata.created_on }}</p>

            <hr>

            <!-- Preview Image -->
            <!-- <img class="img-fluid rounded" src="http://placehold.it/900x300" alt=""> -->

            <!-- <hr> -->

            <!-- Post Content -->
            {{ qdata.body }}
            
            <div class="row">
                <div class="col-md-10 mr-md-auto">
                    <hr>
                    <!-- comments -->
                    {% for comment in qdata.comments.all %}
                    {{ comment.commentbody | safe }}-<a href="#">{{ comment.author }}</a>
                    <hr>
                    {% endfor %}
                </div>   
            </div>

                <button class="btn btn-primary" onclick="showCommentDialog()">Add comment</button>
                <br>
                <script>
                    function showCommentDialog() {
                        var x = document.getElementById("myDIV");
                        if (x.style.display === "none") {
                            x.style.display = "block";
                        } else {
                            x.style.display = "none";
                        }
                    }
                </script>
                
                <!-- Comments Form -->
                <div style="display:none" class="card my-4" id="myDIV">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <textarea name="commentbody" cols="40" rows="10" required id="id_commentbody"></textarea>
                            <script>
                                $(function () {
                                    $('#id_commentbody').froalaEditor({ "inlineMode": false, "imageUploadURL": "/froala_editor/image_upload/", "imageUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "fileUploadURL": "/froala_editor/file_upload/", "fileUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "toolbarInline": false, "image_upload": true, "height": 200, "width": 600 })
                                });
                            </script>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

            <br>
            <hr>

            {% if user.is_authenticated %}
                {% for answer in qdata.answers.all %}
                    {{ answer.body | safe }}
                    -{{ answer.author }}
                     <!-- --<em id="up{{answer.id}}"> {{ answer.upvotes }}</em> <button onclick="upvote_update({{answer.id}},{{qdata.id}})">upvote</button>
                    <em id="down{{answer.id}}">{{ answer.downvotes }} </em><button onclick="downvote_update({{answer.id}},{{qdata.id}})">downvote</button> -->
                    <hr>
                    <br>
                {% endfor %}
            {% else %}
                {% for answer in qdata.answers.all %}
                    {{ answer.body }}
                    -{{ answer.author }}
                    <!-- <em id="up{{answer.id}}"> {{ answer.upvotes }}</em>
                    <button onclick="alert('you are not logged in. login to Upvote')">upvote</button>
                    <em id="down{{answer.id}}">{{ answer.downvotes }} </em>
                    <button onclick="alert('you are not logged in. login to Downvote')">downvote</button> -->
                    <hr>
                    <br>
                {% endfor %}
            {% endif %}

            <!-- answer submission form -->

            <button class="btn btn-primary" onclick="showAnswerDialog()">Post your answer</button>
            <br>
            <script>    
                function showAnswerDialog() {
                    var x = document.getElementById("myansDIV");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>
                
            <!-- answer Form -->
            <div style="display:none" class="card my-4" id="myansDIV">
                <h5 class="card-header">Post an answer:</h5>
                <div class="card-body">
                    {% if user.is_authenticated%}
                        <form method="post">
                            {% csrf_token %}
                            {{ ansform.media }}
                            <textarea name="body" cols="40" rows="10" required id="id_body"></textarea>
                            <script>
                                $(function () {
                                    $('#id_body').froalaEditor({ "inlineMode": false, "imageUploadURL": "/froala_editor/image_upload/", "imageUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "fileUploadURL": "/froala_editor/file_upload/", "fileUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "toolbarInline": false, "image_upload": true, "height": 200, "width": 600 })
                                });
                            </script>
                            <br>
                            <button type="submit" class="btn btn-primary" onsubmit="clear_body()">Submit</button>
                        </form>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            {{ ansform.media }}
                            <textarea name="body" cols="40" rows="10" required id="id_body"></textarea>
                            <script>
                                $(function () {
                                    $('#id_body').froalaEditor({ "inlineMode": false, "imageUploadURL": "/froala_editor/image_upload/", "imageUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "fileUploadURL": "/froala_editor/file_upload/", "fileUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "toolbarInline": false, "image_upload": true, "height": 200, "width": 600 })
                                });
                            </script>
                        </form>
                        <button class="btn btn-primary" onclick="alert('you are not logged in. login to submit the answer')" disabled>Submit</button>
                    {% endif %}
                </div>
            </div>


        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header">Tag Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search by tags...">
                        <span class="input-group-btn">
                            <button class="btn btn-secondary" onclick="tag_fliter()" type="button">Go!</button>
                        </span>
                    </div>
                </div>
                <div class="card-footer text-muted" id="tag_fliter_content"></div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Top tags</h5>
                <div class="card-body">
                    <div id="myCanvasContainer">
                        <canvas width="300" height="300" id="myCanvas">
                            <p>Anything in here will be replaced on browsers that support the canvas element</p>
                        </canvas>
                    </div>
                    <div id="tags">
                        <ul>
                            <li><a href="#" data-weight="14" style="font-size: 2.83ex">1000</a></li>
                            <li><a href="#" data-weight="18" style="font-size: 3.61ex">background</a></li>
                            <li><a href="#" data-weight="40" style="font-size: 9.64ex">canvas</a></li>
                            <li><a href="#" data-weight="22" style="font-size: 4.47ex">chart</a></li>
                            <li><a href="#" data-weight="18" style="font-size: 3.46ex">charts</a></li>
                            <li><a href="#" data-weight="60" style="font-size: 12.32ex">cloud</a></li>
                            <li><a href="#" data-weight="18" style="font-size: 3.74ex">clouds</a></li>
                            <li><a href="#" data-weight="17" style="font-size: 3.16ex">example</a></li>
                            <li><a href="#" data-weight="18" style="font-size: 3.74ex">goat</a></li>
                            <li><a href="#" data-weight="17" style="font-size: 3.16ex">goat1000</a></li>
                            <li><a href="#" data-weight="30" style="font-size: 8.36ex">graph</a></li>
                            <li><a href="#" data-weight="21" style="font-size: 4.36ex">graphs</a></li>
                            <li><a href="#" data-weight="17" style="font-size: 3.32ex">html</a></li>
                            <li><a href="#" data-weight="50" style="font-size: 10.68ex">html5</a></li>
                            <li><a href="#" data-weight="23" style="font-size: 4.69ex">image</a></li>
                            <li><a href="#" data-weight="24" style="font-size: 4.8ex">javascript</a></li>
                            <li><a href="#" data-weight="26" style="font-size: 5.47ex">jpeg</a></li>
                            <li><a href="#" data-weight="13" style="font-size: 2.65ex">jpegsaver</a></li>
                            <li><a href="#" data-weight="32" style="font-size: 8.77ex">jquery</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Side Widget</h5>
                <div class="card-body">
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<!-- upvote downvote ajax functions -->
<script>
	function upvote_update(answer_id,question_id){
    
    var btn = $("#up"+answer_id);

    $.ajax({
        url: '/q/upvote_route/',
        data: {
          'answer_id':answer_id,
          'question_id':question_id
        },
        dataType: 'json',
        success: function (data) {
          if (data)
           btn.text(data.votes);
        }
      });
	}
	function downvote_update(answer_id,question_id){
    var btn = $("#down"+answer_id);

    $.ajax({
        url: '/q/downvote_route/',
        data: {
          'answer_id':answer_id,
          'question_id':question_id
        },
        dataType: 'json',
        success: function (data) {
          if (data)
           btn.text(data.votes);
        }
      });
	}

    function tag_fliter() {
            var tag = $("#tag").val();
            $.ajax({
                url: '/q/tag_route/',
                data: {
                    'tag': tag
                },
                dataType: 'json',
                success: function (data) {
                    if (data.question.length == 0) {
                        txt = "No Question Found";
                    }
                    else if (data) {
                        txt = ""
                        for (var i = 0; i < (data.question).length; i++)
                            txt += "<a href=" + data.question[i] + ">" + data.question_title[i] + "</a><br>"
                    }
                    $("#tag_fliter_content").html("<p>" + txt + "</p>")


                }
            });
        }
</script>


{% endblock %}