{% extends "base_generic.html" %}

{% block content %}

{% load static %}
{% for file_name in froala_plugins_css %}
<link href="{% static file_name %}" type="text/css" media="all" rel="stylesheet" />
{% endfor %}

{% for file_name in froala_plugins_js %}
<script src="{% static file_name %}"></script>

{% endfor %}



<h1>title{{ qdata.title }}</h1>
<em>by -{{ qdata.author }}</em>
<p> tag--{{ qdata.tags }}</p>
<p> body--{{ qdata.body }}</p>
<h1>comments</h1>
{% for comment in qdata.comments.all %}
       <p>{{comment.commentbody | safe}}</p>
       <kbd>{{comment.author}}</kbd>
    {% endfor %}


<form  method="post" >
    {% csrf_token %}
   {{commentform}}
   <button type="submit" >Submit</button>
   </form>
<h1>answers</h1>

<!-- list of answers -->

{% if user.is_authenticated %}
    <ul>
        {% for answer in qdata.answers.all %}
        <li>{{ answer.body | safe }} --<em id="up{{answer.id}}"> {{ answer.upvotes }}</em> <button onclick="upvote_update({{answer.id}},{{qdata.id}})">upvote</button>
            <em id="down{{answer.id}}">{{ answer.downvotes }} </em ><button onclick="downvote_update({{answer.id}},{{qdata.id}})">downvote</button>
            <em>{{ answer.author }}</em>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <ul>
      {% for answer in qdata.answers.all %}
      <li>{{ answer.body }} --<em id="up{{answer.id}}"> {{ answer.upvotes }}</em> 
        <button onclick="alert('you are not logged in. login to Upvote')">upvote</button>
        <em id="down{{answer.id}}">{{ answer.downvotes }} </em >
        <button onclick="alert('you are not logged in. login to Downvote')">downvote</button>
        <em>{{ answer.author }}</em>
      </li>
  {% endfor %}
</ul>
{% endif %}

<!-- answer submission form -->
{% if user.is_authenticated%}
    
    <form  method="post" >
        {% csrf_token %}
        {{ ansform.media }}
      {{ansform}}
      <button type="submit" onsubmit="clear_body()">Submit</button>
    </form>
{% else %}
    <form  method="post" >
      {% csrf_token %}
    {{ansform}}
    </form>
    <button onclick="alert('you are not logged in. login to submit the answer')">Submit</button>
{% endif %}
<!-- upvote downvote ajax functions -->
<script>
	function upvote_update(answer_id,question_id){
    
    var btn = $("#up"+answer_id);

    $.ajax({
        url: '/q/upvote_route/',
        data: {
          'answer_id':answer_id,
          'question_id':question_id
        },
        dataType: 'json',
        success: function (data) {
          if (data)
           btn.text(data.votes);
        }
      });
	}
	function downvote_update(answer_id,question_id){
    var btn = $("#down"+answer_id);

    $.ajax({
        url: '/q/downvote_route/',
        data: {
          'answer_id':answer_id,
          'question_id':question_id
        },
        dataType: 'json',
        success: function (data) {
          if (data)
           btn.text(data.votes);
        }
      });
	}
</script>
{% endblock %}