{% extends "base_generic.html" %}

{% block content %}

{% load static %}
<!-- for top tags canvas animation -->
<script src="{% static 'vendor/jqcloud.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'vendor/jqcloud.min.css' %}">

<!-- for froala wysiwig editor -->
{% for file_name in froala_plugins_css %}
<link href="{% static file_name %}" type="text/css" media="all" rel="stylesheet" />
{% endfor %}

{% for file_name in froala_plugins_js %}
<script src="{% static file_name %}"></script>
{% endfor %}

<script>
     $(document).ready(function () {
       related_tag();
       top_tag();
      
    });

</script>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4">{{ qdata.title }}</h1>

            <!-- Author -->
            <p class="lead">
                <small>by <a href="/u/{{ question.author_id }}"> <i class="fas fa-user"></i> {{ qdata.author }}</a></small> | <small style="font-size:14px;" class="text-muted"> <i class="fas fa-clock"></i>  Posted on {{ qdata.created_on }}</small>
            </p>
            <br>
            <div class="row">
                <div class="col-md-1">
                    <h2><i class="fas fa-angle-up" id="qup{{qdata.id}}" style="cursor:pointer" onclick="question_upvote_update({{ qdata.id }});"></i> <span id="quvcount">{{ qdata.upvotes }}</span> </h2>
                    <!-- <br> -->
                    <h2><span id="qdvcount">{{ qdata.downvotes }}</span><br><i class="fas fa-angle-down" id="qdown{{qdata.id}}" style="cursor:pointer" onclick="question_downvote_update({{qdata.id}})"></i></h2>
                    
                </div>
                <!-- <p id="q_upvote"  onclick="question_upvote_update({{qdata.id}})">{{qdata.upvotes}}</p>
                <p id="q_downvote"  onclick="question_downvote_update({{qdata.id}})">{{qdata.downvotes}}</p>
                <div id="question_vote"></div> -->
                <div class="col-md-11">
                    {{ qdata.body | safe }}
                    <br>
                    <br>
                    <div id="taglist"></div>
                    <br>
                    <br>
                    <br>
                    <h4>{{ qdata.comments.count }} Comments</h4>
                    <hr>
        
                    <!-- comments -->
                    {% for comment in qdata.comments.all %}
                    {{ comment.commentbody | safe }} - <a href="/u/{{ question.author_id }}" style="font-size: 14px">{{ comment.author }}</a>
                    <hr>
                    {% endfor %}
                </div>

            </div>

            <br>
            <button class="btn btn-primary" onclick="showCommentDialog()">Add comment</button>
                <br>
                <script>
                    function showCommentDialog() {
                        var x = document.getElementById("myDIV");
                        if (x.style.display === "none") {
                            x.style.display = "block";
                        } else {
                            x.style.display = "none";
                        }
                    }
                </script>
                
                <!-- Comments Form -->
                <div style="display:none" class="card my-4" id="myDIV">
                    <h5 class="card-header">Leave a Comment:</h5>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <textarea name="commentbody" cols="40" rows="10" required id="id_commentbody"></textarea>
                            <script>
                                $(function () {
                                    $('#id_commentbody').froalaEditor({ "inlineMode": false, "imageUploadURL": "/froala_editor/image_upload/", "imageUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "fileUploadURL": "/froala_editor/file_upload/", "fileUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "toolbarInline": false, "image_upload": true, "height": 200, "width": 600 })
                                });
                            </script>
                            <br>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>

            <br>
            <br>
            <h4>{{ qdata.answers.count }} Answers</h4>
            <hr>
            <br>
            <div class="row">
                {% if user.is_authenticated %}
                    {% for answer in qdata.answers.all %}
                        <div class="col-md-1">
                            <h2><i class="fas fa-angle-up" id="up{{answer.id}}" style="cursor:pointer" onclick="upvote_update({{ answer.id }},{{ qdata.id }});"></i> <span id="uvcount">{{ answer.upvotes }}</span> </h2>
                            <!-- <br> -->
                            <h2><span id="dvcount">{{ answer.downvotes }}</span><i class="fas fa-angle-down" id="down{{answer.id}}" style="cursor:pointer" onclick="downvote_update({{answer.id}},{{qdata.id}})"></i></h2>
                        </div>
                        <div class="col-md-11">
                        {{ answer.body | safe }}
                        <!-- <br> -->
                        <a href="/u/{{ question.author_id }}"><i class="fas fa-pen"></i>&nbsp;{{ answer.author }}</a>
                        </div>
                    {% endfor %}
                {% else %}
                    {% for answer in qdata.answers.all %}
                    <hr>
                    <div class="col-md-1">
                    
                        <h2><i class="fas fa-angle-up" id="up{{answer.id}}" style="cursor:pointer" onclick="alert('Login to vote the answer')"></i>
                            <span id="uvcount">{{ answer.upvotes }}</span> </h2>
                    
                        <!-- <br> -->
                        <h2><span id="dvcount">{{ answer.downvotes }}</span><i class="fas fa-angle-down" id="down{{answer.id}}" style="cursor:pointer"
                                onclick="alert('Login to vote the answer')"></i></h2>
                    
                    </div>
                    <div class="col-md-11">
                        {{ answer.body | safe }}
                        <!-- <br> -->
                        <a href="/u/{{ question.author_id }}"><i class="fas fa-pen"></i>&nbsp;{{ answer.author }}</a>
                        <hr>
                    </div>
                    <hr>
                    {% endfor %}
                {% endif %}
            </div>
            <hr>
            <br>
            
            <!-- answer submission form -->
            <button class="btn btn-primary" onclick="showAnswerDialog()">Post your answer</button>
            <br>
            <script>    
                function showAnswerDialog() {
                    var x = document.getElementById("myansDIV");
                    if (x.style.display === "none") {
                        x.style.display = "block";
                    } else {
                        x.style.display = "none";
                    }
                }
            </script>
                
            <!-- answer Form -->
            <div style="display:none" class="card my-4" id="myansDIV">
                <h5 class="card-header">Post an answer:</h5>
                <div class="card-body">
                    {% if user.is_authenticated%}
                        <form method="post">
                            {% csrf_token %}
                            <textarea name="body" cols="40" rows="10" required id="id_body"></textarea>
                            <script>
                                $(function () {
                                    $('#id_body').froalaEditor({ "inlineMode": false, "imageUploadURL": "/froala_editor/image_upload/", "imageUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "fileUploadURL": "/froala_editor/file_upload/", "fileUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "toolbarInline": false, "image_upload": true, "height": 200, "width": 600 })
                                });
                            </script>
                            <br>
                            <button type="submit" class="btn btn-primary" onsubmit="clear_body()">Submit</button>
                        </form>
                    {% else %}
                        <form method="post">
                            {% csrf_token %}
                            <textarea name="body" cols="40" rows="10" required id="id_body"></textarea>
                            <script>
                                $(function () {
                                    $('#id_body').froalaEditor({ "inlineMode": false, "imageUploadURL": "/froala_editor/image_upload/", "imageUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "fileUploadURL": "/froala_editor/file_upload/", "fileUploadParams": { "csrfmiddlewaretoken": getCookie("csrftoken") }, "toolbarInline": false, "image_upload": true, "height": 200, "width": 600 })
                                });
                            </script>
                        </form>
                        <button class="btn btn-primary" onclick="alert('you are not logged in. login to submit the answer')" disabled>Submit</button>
                    {% endif %}
                </div>
            </div>


        </div>

        <!-- Sidebar Widgets Column -->
       
        <div class="col-md-4">
            
            <div class="card my-4">
                <h5 class="card-header">Tag Search</h5>
                <div class="card-body">
                    <div class="input-group">
                        <input type="text" id="tag" onkeyup="tag_fliter()" class="form-control" placeholder="Search by tags...">
                        <span class="input-group-btn">
                            <button class="btn btn-primary" onclick="tag_fliter()" type="button"><i class="fas fa-search"></i></button>
                        </span>
                    </div>
                </div>
                <div class="card-footer text-muted" id="tag_fliter_content"></div>
            </div>

            <!-- Categories Widget -->
            <div class="card my-4">
                <h5 class="card-header">Top tags</h5>
                <div class="card-body">
                    <div id="tagcloud">
                    
                    </div>
                </div>
            </div>

            <!-- Side Widget -->
            <div class="card my-4">
                <h5 class="card-header">Related Question</h5>
                <div class="card-body" id ="related_content" >
                    You can put anything you want inside of these side widgets. They are easy to use, and feature the
                    new Bootstrap 4 card containers!
                </div>
            </div>

        </div>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->


<!-- upvote downvote ajax functions -->
<script>

   // function btn_color(){
   //   alert({{qdata.id}});
   //   question_id = {{qdata.id}} ;

   //    $.ajax({
   //      url: '/q/question_btn_color/',
   //      data: {
   //        'question_id':question_id
   //      },
   //      dataType: 'json',
   //      success: function (data) {
   //        if (data)
   //          console.log(data);
   //         alert("done"+data);
   //      }
   //    });


   // }

  function related_tag(){
   // var relate_tag = $("#tag0").text();
   var qtags='{{ qdata.tags }}';
        var tags=qtags.split(',');
    console.log(tags);
    //alert("okk"+relate_tag.split(",")[0]);
    var tag=tags[0];
    $.ajax({
        url: '/q/tag_route/',
        data: {
          'tag':tag
        },
        dataType: 'json',
        success: function (data) {
          if(data.question.length == 0){
            txt="No Question Found";
          }
          else if (data){
            txt="";
            //alert({{pathname}});
            for(var i=0;i<Math.min(10,(data.question).length);i++)
            {
                // txt += "<a onclick='"window.location = "+" / q / "+data.question_id[i]+" / "+data.question[i]+"'"+">"+data.question_title[i]+"</a><br>";
                txt+="<a href='/q/"+data.question_id[i] +'/'+data.question[i]+"'>"+data.question_title[i]+"</a><br>";
            }
            $("#related_content").html("<p>"+txt+"</p>");
           
       }
      }
    });
  
  }

  function question_upvote_update(question_id){
    //alert("okk"+question_id);
    //var btn = $("#up"+question_id);
    var res = $("#quvcount");
    $.ajax({
        url: '/q/question_upvote_route/',
        data: {
          'question_id':question_id
        },
        dataType: 'json',
        success: function (data) {
          if (data)
           res.text(data.votes);
        }
      });
    }
    function question_downvote_update(question_id){
    // alert("okk"+question_id);
    //var btn = $("#");
    var res = $("#qdvcount");
    $.ajax({
        url: '/q/question_downvote_route/',
        data: {
          'question_id':question_id
        },
        dataType: 'json',
        success: function (data) {
          if (data)
           res.text(data.votes);
        }
      });
    }

	function upvote_update(answer_id,question_id){
    
    var btn = $("#up"+answer_id);
    var res = $("#uvcount");
    $.ajax({
        url: '/q/upvote_route/',
        data: {
          'answer_id':answer_id,
          'question_id':question_id
        },
        dataType: 'json',
        success: function (data) {
          if (data)
           res.text(data.votes);
        }
      });
	}
	function downvote_update(answer_id,question_id){
    var btn = $("#down"+answer_id);
    var res = $("#dvcount");
    $.ajax({
        url: '/q/downvote_route/',
        data: {
          'answer_id':answer_id,
          'question_id':question_id
        },
        dataType: 'json',
        success: function (data) {
          if (data)
           res.text(data.votes);
        }
      });
	}

    function tag_fliter() {
        var tag = $("#tag").val();
        if(tag.length==0){
            $("#tag_fliter_content").html("");
            return;
        }
        $.ajax({
            url: '/q/tag_route/',
            data: {
                'tag': tag
            },
            dataType: 'json',
            success: function (data) {
                if (data.question.length == 0) {
                    txt = "No Question Found";
                }
                else if (data) {
                    txt = ""
                    for (var i = 0; i < Math.min(10,(data.question).length); i++)
                        txt += "<a href=" + data.question[i] + ">" + data.question_title[i] + "</a><br>"
                }
                $("#tag_fliter_content").html("<p>" + txt + "</p>")


            }
        });
    }

    function top_tag() {
            $.ajax({
                url: '/q/top_tag/',
                data: {
                },
                dataType: 'json',
                success: function (data) {
                    if (data) {
                        // console.log(data);
                        let words = [];
                        for (var i = 0; i < data.tags.length; i++)
                            words.push({ text: data.tags[i].tag, weight: 40 - 3 * i, link: "/u" });
                        //     txt+='<li><a data-weight="40" style="font-size: 29.64ex" >'+data.tags[i].tag+'</a></li>';
                        // txt+="</ul>";
                        // $("#tags").html(txt);
                        $('#tagcloud').jQCloud(words, {
                            width: 400,
                            height: 400,
                            center: { x: 0.3, y: 0.4 },
                            delay: 40,
                            shape: 'rectangular'
                        });





                    }
                }
            });
        }
    // showing tags of question
    $(function(){
        var qtags='{{ qdata.tags }}';
        console.log(  );
        var tags=qtags.split(',');
        // console.log(tags.length);
        var txt="<h5><pre>";
        for(i=0;i<tags.length;i++)
        txt+=('<span class="badge badge-secondary" style="background-color:hsl(218, 84%, 82%);color:blue;font-weight:100">'+tags[i]+'</span>  ');
        txt+="</pre></h5>"
        $("#taglist").html(txt);
    });
    // console.log('{{ qdata.tags }}');

</script>


{% endblock %}