<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}<title>ASQ - MMNIT's Q&A Forum</title>{% endblock %}
  {% load static %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="ask about mnnit ">
  <meta name="author" content="no one">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link href="{% static 'css/login.css' %}" rel="stylesheet">
</head>

<body>

  {% if user.is_authenticated %}
  <script>alert("you are already logged in!!"); window.location = "/q/"</script>
  {% endif %}

  <div class="container">


    <div class="omb_login">
      <h3 class="omb_authTitle">Signup</h3>
      <div class="row omb_row-sm-offset-3 omb_socialButtons">
        <div class="col-xs-4 col-sm-2">
          <a href="#" class="btn btn-lg btn-block omb_btn-facebook">
            <i class="fab fa-facebook-square "></i>
            <span class="hidden-xs">Facebook</span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="#" class="btn btn-lg btn-block omb_btn-twitter">
            <i class="fab fa-twitter"></i>
            <span class="hidden-xs">Twitter</span>
          </a>
        </div>
        <div class="col-xs-4 col-sm-2">
          <a href="#" class="btn btn-lg btn-block omb_btn-google">
            <i class="fab fa-google-plus-g"></i>
            <span class="hidden-xs">Google+</span>
          </a>
        </div>
      </div>

      <div class="row omb_row-sm-offset-3 omb_loginOr">
        <div class="col-xs-12 col-sm-6">
          <hr class="omb_hrOr">
          <span class="omb_spanOr">or</span>
        </div>
      </div>

      <div class="row omb_row-sm-offset-3">
        <div class="col-xs-12 col-sm-6">
          <form class="omb_loginForm" autocomplete="off" action="" method="POST">
            {% csrf_token %}

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" id="id_username" name="username" placeholder="Username" required>
            </div>

              <small style="color: grey">Required. 150 characters or fewer. Letters, digits and @/./+/-/_ only.</small>
            <br>
            <br>
            
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" id="id_first_name" name="first_name" placeholder="First Name">
            </div>

              <small style="color: grey" >Optional.</small>
            <br>
            <br>


            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-user"></i></span>
              <input type="text" class="form-control" id="id_last_name" name="last_name" placeholder="Last Name">
            </div>

              <small style="color: grey">Optional.</small>
            <br>
            <br>


            <div class="input-group">
              <span class="input-group-addon"><i class="fas fa-at"></i></span>
              <input type="email" class="form-control" id="id_email" name="email" placeholder="Email address" required>
            </div>
              <small style="color: grey">Required. Inform a valid email address</small>
            <br>
            <br>


            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" id="id_password1" name="password1" placeholder="Password">
            </div>
              
              <small style="color: grey">
              Your password can't be too similar to your other personal information.
              Your password must contain at least 8 characters.
              Your password can't be a commonly used password.
              Your password can't be entirely numeric.
              </small>
            <br>
            <br>

            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock"></i></span>
              <input type="password" class="form-control" id="id_password2" name="password2" placeholder="Confirm Password">
            </div>

            <small style="color: grey">Enter the same password as before, for verification.</small>
            <br>
            <br>

            <button class="btn btn-lg btn-primary btn-block" type="submit" value="signup">Signup</button>
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
          <br>
          <p style="text-align:center"><a href="/accounts/login/">already a user</a></p>
        </div>
      </div>

    </div>

    {% for field in form %}
    <p>
      {% for error in field.errors %}
      <p style="color: red">{{ field.label_tag }} {{ error }}</p>
      {% endfor %}
    </p>
    {% endfor %}


</body>







<!-- {% if next %}
  {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
  {% else %}
    <p>Please login to see this page.</p>
  {% endif %}
{% endif %}

<form method="post" action="{% url 'login' %}">
{% csrf_token %}

<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>

<div>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->


  <!-- <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit">Sign up</button>
  </form> -->