{% extends "base_generic.html" %}

{% block content %}
<br><br>

{% if user.is_authenticated %}
<script type="text/javascript">
    $(document).ready(function () {
       reputation_update();
    });
    var qwaitage = 0;
    var answaitage =0;

</script>


<div class="container bootstrap snippet">
    <div class="row">
  		<div class="col-sm-10"><h1>&nbsp;&nbsp;&nbsp;&nbsp;{{user.username}}</h1></div>
    	<!-- <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.gravatar.com/a vatar/28fd20ccec6865e2d5f0e1f4446eb7bf?s=100"></a></div>-->
    </div>
    
    <div class="row">
  		<div class="col-sm-3"><!--left col-->
        

      <div class="text-center">
        <script type="text/javascript">
          //alert("{{ photo_form }}");
        </script>
        {% load static %}
         
          <img src="{% static 'asq_project/images/user.jpg' %}" width ="250"alt="avatar">
      </div></hr><br>

               
          <div class="card">
            <div class="card-header">Date Of Joining </div>
            <div class="card-body">{{user.date_joined | date}}</div>
          </div>
          
          
          <ul class="list-group">
            <li class="list-group-item " style="color:white;background-color:blue;">Activity <i class="fa fa-dashboard fa-1x"></i></li>
            <li class="list-group-item d-flex justify-content-between align-items-center"><span class="pull-left"><strong>Dislikes</strong></span> {{downvote}}</li>
            <li class="list-group-item d-flex justify-content-between align-items-center"><span class="pull-left"><strong>Likes</strong></span> {{upvote}}</li>
            <li class="list-group-item d-flex justify-content-between align-items-center"><span class="pull-left"><strong>Posts</strong></span> {{question | length}}</li>
            <li class="list-group-item d-flex justify-content-between align-items-center"><span class="pull-left"><strong>Reputation</strong></span><span id ="reputation"> </span></li>
           
          </ul> 
          <!--      
          <div class="panel panel-default">
            <div class="panel-heading">Social Media</div>
            <div class="panel-body">
            	<i class="fa fa-facebook fa-2x"></i> <i class="fa fa-github fa-2x"></i> <i class="fa fa-twitter fa-2x"></i> <i class="fa fa-pinterest fa-2x"></i> <i class="fa fa-google-plus fa-2x"></i>
            </div>
          </div -->
          
        </div><!--/col-3-->
    	<div class="col-sm-9">
            <ul class="nav nav-pills">
                <li class="active nav-item"><a  class="nav-link" data-toggle="tab" href="#home" onclick="$('#user_status').css('visibility','visible');$('#user_status').html($('#question_asked').html());$('#question_asked').css('display','none');">Question</a></li>
                <li class="active nav-item"><a class="nav-link" data-toggle="tab"  href="#messages" onclick="$('#user_status').css('visibility','visible');$('#user_status').html($('#answer_given').html());$('#question_asked').css('display','none');">Answer</a></li>
                <li class="active nav-item"><a  class="nav-link" data-toggle="tab" href="#settings" onclick="$('#user_status').css('visibility','visible');$('#user_status').html($('#comment').html());$('#question_asked').css('display','none');">Comment</a></li>

		 <div class="col-md-8" style="margin-top: 100px">


<div id="user_status" ></div>
<div id ="question_asked" >
	 <ul class="list-group">
{% for q in question %}
    <script>
      qwaitage += 5*{{q.upvotes}} - 2*{{q.downvotes}}+{{q.answers | length }};
    </script>
        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="{% url 'asq_app:question_detail' q.id q.slug %}">{{q.title}}</a><span> Posted on - {{q.created_on | date}}</span></li>
         <!-- <th>Posted on - {{q.created_on | date}}</th> -->
<!-- <h5><a href="{% url 'asq_app:question_detail' q.id q.slug %}">{{q.title}}</a></h5> -->
{% endfor %}
 </ul>
</div>

<div id ="answer_given" >
	 <ul class="list-group">
{% for ans in answer %}
  <script>
      answaitage += 10*{{ans.upvotes}} - 2*{{ans.downvotes}};
    </script>
        <li class ="list-group-item   align-items-center"><a href="{% url 'asq_app:question_detail' ans.question.id ans.question.slug %}">{{ans | safe }}</a></li>
       

{% endfor %}
</ul>
</div>
<div id ="comment" >
	 <ul class="list-group">

{% for c in comment %}

        <li class="list-group-item d-flex justify-content-between align-items-center"><a href="{% url 'asq_app:question_detail' c.question.id c.question.slug %}">{{c | safe }}</a></li>

{% endfor %}
</ul>
</div>
</div>

</div>
</div>
           
<script>

  function reputation_update(){
  
     var reputation = qwaitage+answaitage + {{upvote}};
     $.ajax({
        url: '/q/reputation_update/',
        data: {
          'user':{{user.id}},
          'reputation':reputation
        },
        dataType: 'json',
        success: function (data) {

          $("#reputation").html(reputation);
   }
      });
   


  }

    function user_search(){
   // alert("okk"+$("#user_search").val());
     var user_name= $("#user_search").val();
     if(user_name.length==0){
       $("#user_result").html("");
       return;
     }
    $.ajax({
        url: '/q/user_search/',
        data: {
          'user_name':user_name
        },
        dataType: 'json',
        success: function (data) {
         // alert("successfully");
          
           if(data.user.length == 0){
                txt="No Question Found";
            }
          else {
            txt="";
            for(var i=0;i<Math.min(10,(data.user).length);i++)
                 txt+="<a href='"+data.user[i]+"'>"+data.username[i]+"</a><br>";
          
            $("#user_result").html("<p>"+txt+"</p>");
           } 
       
   }
      });
    }

    </script>
{% else %}
    <h2>Please Register yourself to see other's profile</h2>
{% endif %}
{% endblock %}