<!DOCTYPE html>
<html lang="en">
<head>
    {% block title %}<title>ASQ - MNNIT's Q&A Forum</title>{% endblock %}
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="mnnit's q&a forum" >
    <meta name="author" content="Team Django Unchained">
    <link rel="icon" href="{% static 'favicon.ico' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script> -->
    <link href="{% static 'bs4/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'bs4/js/bootstrap.min.js' %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <!-- <link href="{% static 'bs4/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'bs4/bootstrap.min.css' %}"></script> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
      crossorigin="anonymous">
      <link href="{% static 'asq_project/froala_editor/css/froala_editor.min.css' %}" type="text/css" media="all" rel="stylesheet" />
      <link href="{% static 'asq_project/froala_editor/css/froala_style.min.css' %}" type="text/css" media="all" rel="stylesheet" />
      
    <script src="{% static 'asq_project/froala_editor/js/froala_editor.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/easy-ac/easy-autocomplete.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/easy-ac/easy-autocomplete.themes.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/easy-ac/easy-autocomplete.themes.min.css.map' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/easy-ac/easy-autocomplete.themes.min.css.map' %}">
    <script src="{% static 'vendor/easy-ac/jquery.easy-autocomplete.min.js' %}"></script>
    <!-- <link rel="stylesheet" href="{% static 'asq_project/autocomplete.min.css' %}" type="text/css"> -->
    <!-- <script src="{% static 'asq_project/autocomplete.min.js' %}"></script> -->

    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0)
                    return c.substring(name.length, c.length);
            }
            return "";
        }
        $(function () {
            querybox.easyAutocomplete(options);
          });
    </script>

     <link rel="stylesheet" type="text/css" href="{% static 'asq_project/tagInput.css' %}">
      <script src="{% static 'asq_project/tagInput.js' %}"></script>
      <!-- Custom styles for this template -->
      <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">

    <style>
      hr
      {
          margin:0px;
      }
      p{
        margin:6px;
      }
      body{
        /* background-image: url("{% static '/asq_project/images/back2.jpg' %}"); */
        background-color: #f1f2e3;
      }
    </style>
</head>

<body >
  <style>
    

    #logo-head {
      font-family: 'Gloria Hallelujah', cursive;
    }

    #logo-def {
      
      font-family: Arial, Helvetica, sans-serif;
    }
    
    #talk_icon {
      max-width: 10rem;
      transform: scale(2);
      /* margin: 0.2rem auto; */
      /* display: block; */
      /* overflow: visible; */
      
    }

/* Credits for Logo Animation: Ryan Young https://codepen.io/rcyou/pen/xgLgOQ */
svg, path, g { transition: all 300ms ease-in-out; }

#talk_icon:hover #back-bubble {
	transform: translate(-1px, -4px) scale(0.9);
}
#talk_icon:hover #front-bubble {
  transform: scale(1.125);
}
#talk_icon:hover #speech-dots path {
  animation: twinkle 2000ms ease-in-out alternate infinite;
  transform-origin: center;
}
#talk_icon:hover #speech-dots path:nth-child(2) {
	animation-delay: 150ms;
}
#talk_icon:hover #speech-dots path:nth-child(3) {
	animation-delay: 250ms;
}
#talk_icon:hover #speech-dots path:nth-child(4) {
	animation-delay: 350ms;
}


@keyframes twinkle {
  0% {
    opacity: 1;
		transform: scale(1);
  }
  25% {
    opacity: 0;
    transform: scale(0.95);
  }
  50% {
    opacity: 1;
    transform: scale(1);
  }
  75% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}




    </style>

    <!-- Navigation -->
  <div class="container">

      <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbar-brand" href="/q">
          <div id="talk_icon" class="row">
            <div class="col-md-8">
            
            <svg   version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
            x="0px" y="0px" viewBox="-2 -5 45 40" enable-background="new 0 0 35 29.8" xml:space="preserve">
            <g id="back-bubble">
              <path d="M1.2 22.4c-0.4 0.3-0.6 0.7-0.5 1.2 0.1 0.4 0.5 0.8 0.9 0.8 0.5 0.1 0.9 0.1 1.4 0.1 1.5 0 2.8-0.3 4-0.9 2.2 1.2 4.8 1.8 7.4 1.8 3.8 0 7.4-1.3 10.1-3.7 2.7-2.4 4.3-5.6 4.3-9 0-3.4-1.5-6.6-4.3-9C21.8 1.3 18.2 0 14.4 0 10.6 0 7 1.3 4.3 3.7 1.5 6.1 0 9.3 0 12.7c0 2.8 1 5.5 2.9 7.7C2.5 21.2 1.9 21.9 1.2 22.4L1.2 22.4zM2.7 23.1c0.8-0.7 1.3-1.5 1.7-2.6 0.1-0.3 0-0.5-0.1-0.7 -1.9-2-2.8-4.5-2.8-7 0-6.2 5.8-11.2 12.9-11.2 7.1 0 12.9 5 12.9 11.3 0 6.2-5.8 11.3-12.9 11.3 -2.5 0-5-0.6-7.1-1.8 -0.2-0.1-0.5-0.1-0.7 0 -1 0.6-2.2 0.9-3.6 0.9H2.7zM3 23.1" />
            </g>
            <g id="front-bubble">
              <path id="white_part" fill="white" d="M30.7 24.1c1.9-2 2.8-4.5 2.8-7 0-6.2-5.8-11.2-12.9-11.2 -7.1 0-12.9 5-12.9 11.3 0 6.2 5.8 11.3 12.9 11.3 2.5 0 5-0.6 7.1-1.8 0.2-0.1 0.5-0.1 0.7 0 1 0.6 2.2 0.9 3.6 0.9h0.3c-0.8-0.7-1.3-1.5-1.7-2.6C30.5 24.6 30.5 24.3 30.7 24.1z" />
              <path d="M33.8 26.8c-0.7-0.5-1.3-1.2-1.7-2 1.9-2.2 2.9-4.9 2.9-7.7 0-3.4-1.5-6.6-4.3-9C28 5.7 24.4 4.4 20.6 4.4c-3.8 0-7.4 1.3-10.1 3.7 -2.7 2.4-4.3 5.6-4.3 9 0 3.4 1.5 6.6 4.3 9 2.7 2.4 6.3 3.7 10.1 3.7 2.6 0 5.2-0.6 7.4-1.8 1.2 0.6 2.5 0.9 4 0.9 0.5 0 0.9 0 1.4-0.1 0.5-0.1 0.8-0.4 0.9-0.8C34.4 27.5 34.2 27 33.8 26.8zM32 27.4c-1.3 0-2.5-0.3-3.6-0.9 -0.2-0.1-0.5-0.1-0.7 0 -2.1 1.2-4.5 1.8-7.1 1.8 -7.1 0-12.9-5-12.9-11.3 0-6.2 5.8-11.3 12.9-11.3 7.1 0 12.9 5 12.9 11.2 0 2.6-1 5-2.8 7 -0.2 0.2-0.2 0.5-0.1 0.7 0.4 1 1 1.9 1.7 2.6H32z" />
              <g id="speech-dots">
                <path d="M18.3 18.9c0.3 0 0.7-0.1 0.9-0.4 0.2-0.2 0.4-0.6 0.4-0.9 0-0.3-0.1-0.7-0.4-0.9 -0.2-0.2-0.6-0.4-0.9-0.4 -0.3 0-0.7 0.1-0.9 0.4 -0.2 0.2-0.4 0.6-0.4 0.9 0 0.3 0.1 0.7 0.4 0.9C17.6 18.7 17.9 18.9 18.3 18.9L18.3 18.9zM18.3 18.9" />
                <path d="M13.6 18.9c0.3 0 0.7-0.1 0.9-0.4 0.2-0.2 0.4-0.6 0.4-0.9 0-0.3-0.1-0.7-0.4-0.9 -0.2-0.2-0.6-0.4-0.9-0.4 -0.3 0-0.7 0.1-0.9 0.4 -0.2 0.2-0.4 0.6-0.4 0.9 0 0.3 0.1 0.7 0.4 0.9C13 18.7 13.3 18.9 13.6 18.9L13.6 18.9zM13.6 18.9" />
                <path d="M24.2 17.6c0-0.7-0.6-1.3-1.3-1.3 -0.7 0-1.3 0.6-1.3 1.3 0 0.7 0.6 1.3 1.3 1.3C23.6 18.9 24.2 18.3 24.2 17.6L24.2 17.6zM24.2 17.6" />
                <path d="M28.9 17.6c0-0.7-0.6-1.3-1.3-1.3 -0.7 0-1.3 0.6-1.3 1.3 0 0.7 0.6 1.3 1.3 1.3C28.3 18.9 28.9 18.3 28.9 17.6L28.9 17.6zM28.9 17.6" />
              </g>
            </g>
          </svg>
        </div>
        <div style="padding-left:0px;" class="col-md-4" id="logohead">
            <span style="font-family: 'Gloria Hallelujah', cursive;" class="h5" >Asq</span>

          </div>
        </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav  mr-auto">
            <!-- search bar -->
             <li class="nav-item">
                <div class="input-group">
                  <input type="text" class="form-control" id="qbox" style="width:25rem" placeholder="Search Questions, Tags, Authors and more...">
                </div>
            </li>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
            <li class="nav-item active">
              <a class="nav-link" href="/q"><i class="fas fa-home"> </i> Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <p>&nbsp;&nbsp;</p>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" data-toggle="modal" data-target="#myModal" onclick="get_new_notification()" style="cursor: pointer;"><i class="fas fa-bell"> </i> Notifications</a>
              </li>
              <p>&nbsp;&nbsp;</p>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'user_dashboard' %}"><i class="fas fa-user"></i> {{ request.user.username }}</a>
              </li>
              <p>&nbsp;&nbsp;</p>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}"> <i class="fas fa-sign-out-alt"></i> Logout</a>
              </li>
              <p>&nbsp;&nbsp;</p>
             {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/accounts/login"><i class="fas fa-sign-in-alt"></i> Login</a>
              </li>
              <p>&nbsp;&nbsp;</p>
              <li class="nav-item">
                <a class="nav-link" href="/accounts/signup"><i class="fas fa-user-plus"></i> Signup</a>
              </li>
              <p>&nbsp;&nbsp;</p>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="#" data-toggle="modal" data-target="#myModalcontact"> <i class="fas fa-address-book"></i> Contact</a>
            </li>
            <p>&nbsp;&nbsp;</p>
          </ul>
        </div>  
      </nav>
  </div>
     {% block sidebar %}
    <!-- insert default navigation text for every page -->
    {% endblock %}

    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock %}

    <footer >     
      <hr><br><br><div  style="background-color:black;color:white  "><br><br><center>(c) 2018 Team django-unchained Webster 2018</center> <br></div></footer>
 <!-- 
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
 -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Notifications</h4>
      </div>
      <div class="modal-body" id="notificationarea">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick='$(".modal-body").text("");' >Close</button>
      </div>
    </div>

  </div>
</div>

<div id="myModalcontact" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Django-Unchained</h4>
      </div>
      <div class="modal-body">
        <p>
          <h5>Our Team</h5><br><br><span>Tuhin Subhra Patra</span><br>
        <span>Milan Bavishi</span><br>
        <span>Jugta Ram</span><br></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal" onclick='$(".modal-body").text("");' >Close</button>
      </div>
    </div>

  </div>
</div>


  <script>
function get_new_notification(){
    $("#notificationarea").text("");
   // console.log("fg");
    var tag= $("#tag").val();
    $.ajax({
        url: '/q/notification_route/',
        data: {
        },
        dataType: 'json',
        success: function (data) {
            if(data){
              received_ans=JSON.parse(data.notify_serialized);
               console.log(received_ans);
               console.log(data);
               received_comment=JSON.parse(data.notify_serialize);
               console.log(received_comment);
               //author_list=JSON.parse(data);
               for(var i=0;i<received_ans.length;i++)
              if(received_ans)
               $(".modal-body").append("user <a href=/u/"+received_ans[i].fields.author+">"+data.author[i]+"</a>commented on your question<a href="+'/q/'+received_ans[i].pk+"/"+received_ans[i].fields.slug+" onclick='notification_answer_update("+received_ans[i].pk+");'"+">"+received_ans[i].fields.title+"</a><br>");
               // ///alert("new notification received");
               for(var i=0;i<received_comment.length;i++)
               if(received_comment)
               $(".modal-body").append("user <a href=/u/"+received_comment[i].fields.author+">"+data.author[i]+"</a> answered your question <a href="+'/q/'+received_comment[i].pk+"/"+received_comment[i].fields.slug+" onclick='notification_comment_update("+received_comment[i].pk+");'"+">"+received_comment[i].fields.title+"</a><br>");
               // ///alert("new notification received");

               }
       
   }
      });
    }


  function notification_comment_update(qid) {
            //alert(qid);
            $.ajax({
              url: '/q/delete_comment_notification/',
              data: {
                  'qid':qid
              },
              dataType: 'json',
              success: function (data) {
                  if(data){
                    alert("okk" +data);
                }
            
        }
            });
          // body...
      }

function notification_answer_update(qid) {
           // alert(qid);
            $.ajax({
              url: '/q/delete_answer_notification/',
              data: {
                  'qid':qid
              },
              dataType: 'json',
              success: function (data) {
                  if(data){
                    alert("okk" +data);
                }
            
        }
            });
          // body...
      }


  let querybox = $('#qbox');
  // function open_search() {
  //   window.location = "/search/?q=" + querybox.val();
  // }

  var options = {

    url: function (phrase) {
      return '/q/search/?q=' + phrase;
    },
    getValue: "title",
    template: {
      type: "links",
      fields: {
        link: "website-link"
      }
    },

    list: {
      match: {
        enabled: false,
      },
      showAnimation: {
        type: "slide", //normal|slide|fade
        time: 400,
        callback: function () { }
      },

      hideAnimation: {
        type: "slide", //normal|slide|fade
        time: 400,
        callback: function () { }
      },
    },
    // placeholder: 'Search questions, author',
    theme: "plate-dark"
  };


</script>


</body>

</html>