<!DOCTYPE html>
<html lang="en">

<head>
    {% block title %}<title>ASQ - MMNIT's Q&A Forum</title>{% endblock %}
    {% load static %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ask about mnnit " >
    <meta name="author" content="no one">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" type="text/css" media="all"
        rel="stylesheet" />
    <link href="{% static 'asq_project/froala_editor/css/froala_editor.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    <link href="{% static 'asq_project/froala_editor/css/froala_style.min.css' %}" type="text/css" media="all" rel="stylesheet" />
    
    <script src="{% static 'asq_project/froala_editor/js/froala_editor.min.js' %}"></script>
    
    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1);
                if (c.indexOf(name) == 0)
                    return c.substring(name.length, c.length);
            }
            return "";
        }
    </script>

     <link rel="stylesheet" type="text/css" href="{% static 'asq_project/tagInput.css' %}">
    <script src="{% static 'asq_project/tagInput.js' %}"></script>
     <!-- Custom styles for this template -->
    <link href="{% static 'css/blog-home.css' %}" rel="stylesheet">
</head>

<body >


    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/q">Asq Mnnit</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/q">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" data-toggle="modal" data-target="#myModal" onmouseover="get_new_notification()" style="cursor: pointer;">Notifications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/u">{{ user.username }}!</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'logout' %}">Logout</a>
            </li>
             {% else %}
             <li class="nav-item">
              <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/accounts/signup">Signup</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
     {% block sidebar %}
    <!-- insert default navigation text for every page -->
    {% endblock %}

    {% block content %}
    <!-- default content text (typically empty) -->
    {% endblock %}

    <footer ><hr>(c) 2018 Team django-unchained Webster 2018 </footer>
 
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">

<!-- <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>
 -->
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">New Notifications</h4>
      </div>
      <div class="modal-body">
        <p></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" onclick='$(".modal-body").text("");' >Close</button>
      </div>
    </div>

  </div>
</div>
  <script>
function get_new_notification(){
    var tag= $("#tag").val();
    $.ajax({
        url: '/q/notification_route/',
        data: {
        },
        dataType: 'json',
        success: function (data) {
            if(data){
              received_data=JSON.parse(data);
               console.log(JSON.parse(data)[0]);
               for(var i=0;i<data.length;i++)
               $(".modal-body").append("<a href="+'/q/'+received_data[i].fields.slug+">"+received_data[i].fields.title+"</a><br>");
               ///alert("new notification received");
               }
       
   }
      });
    }
</script>


</body>

</html>